.supportScenario {
	padding-top: 70px;
	padding-bottom: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(~@media/design-in/supportScenarioBg@2x.png);

	.supportScenarioContent {
		width: 1080px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		padding-top: 74px;

		//  左侧菜单
		.leftSideMenuData {
			width: 280px;
			background: rgba(255, 255, 255, 0.7);

			.leftItem {
				font-size: 18px;
				font-weight: 500;
				line-height: 25px;
				padding: 29px 32px 25px 36px;

				cursor: pointer;
				display: flex;
				align-items: center;
				color: rgba(0, 0, 0, 0.65);
				position: relative;

				&.leftItemActive {
					background: linear-gradient(to right, rgba(11, 96, 250, 0.30) 0%, rgba(26, 153, 253, 0) 60%, rgba(26, 153, 253, 0) 100%);
					color: #0B60FA;

					&::before {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: 8px;
						background: #0B60FA;
					}
				}
			}
		}

		//  右侧内容
		.rightSideContent {
			width: 770px;

			.desc {
				height: 25px;
				font-size: 18px;
				margin-bottom: 12px;
				line-height: 18px;
			}

			.img {
				display: block;
				width: 100%;
			}
		}

	}

	@media screen and  (max-width: 750px) {

	}
}

