.solutionArchitecture {
    padding-top: 80px;

    .content {
        position: relative;
        width: 1080px;
        margin: 50px auto 0;

        .contentImg {
            width: 100%;
            padding-top: 55.6%;
            background-size: cover;
            //background-image: url(~@media/superdrive/solutionArchitecture/solutionArchitecture@2x.png);
        }
    }

    @media screen and (max-width: 750px) {
        padding-top: .7rem;
        padding-bottom: .7rem;
        .content {
            width: 79.22%;
            margin-top: .27rem;

            .contentImg {
                //background-image: url(~@media/superdrive/solutionArchitecture/solutionArchitecture.png);
            }
        }
    }
}